[Unit]
Description=Gunicorn instance to serve tusc-swap
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/swapper/tusc-swap
Environment="PATH=/home/ec2-user/swapper/tusc-swap/env/bin"
ExecStart=/home/ec2-user/swapper/tusc-swap/env/bin/gunicorn --certfile="/home/ec2-user/swapper/tusc-swap/cert.pem" --keyfile="/home/ec2-user/swapper/tusc-swap/privkey.pem" --workers 3 --bind unix:tusc-swap.sock -m 007 registerer_wsgi:app

[Install]
WantedBy=multi-user.target